template(name='landingLayout')

  //- Necessary for sticky footer
  #page-wrap
    header#header
      .container
        h2 This is a header
    section#main-wrapper
      +yield

  //- Sticky footer
  footer#footer.sticky
    .container
      h2 Hey bro, nice footer
