template(name='layout')

  //- Necessary for sticky footer
  #page-wrap
    header#header
      .container
        img#logo(src='HoodTag.svg')
        img(src='apptagline.svg')
    section#main-wrapper
      +yield

  //- Sticky footer
  footer#footer.sticky
    .container
      //- Currently no need for footer so it's empty
