template(name='hood')
  section#main
    .container

      //- SF map will go here
      section#hoods
        #sf-map-container

      section#taglines
        if hasCurrentNeighborhood
          h3= currentNeighborhood.name
          .input-group
            label(for='add-tagline') Add a tagline...
            input#add-tagline(type='text', placeholder='Add a tagline...')
        else
          h3 No neighborhood selected.
