template(name='hood')
  section#main
    .container

      //- SF map will go here
      section#hoods
        h2 THat raphael map should go here
        #sf-map-container

      section#taglines
        .input-group
          label(for='add-tagline') Add a tagline...
          input#add-tagline(type='text', placeholder='Add a tagline...')
